blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 1.5em;
}

.gdbar img {
  width: 82px !important;
  height: 85px !important;
  margin: 8px 8px;
}

slides > slide:not(.nobackground):before {
  width: 29px;
  height: 30px;
  background-size: 29px 30px;
}
